@mixin styleText($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
}
@mixin buttonStyle($color, $bg-color, $border, $fs, $fw, $pd-y, $pd-x, $bd-radius) {
    color: $color;
    background-color: $bg-color;
    border: 1px solid $border;
    font-size: $fs;
    font-weight: $fw;
    padding: $pd-y $pd-x;
    cursor: pointer;
    border-radius: $bd-radius;
}
@mixin styleTextTitle($color, $fs, $fw, $fs-hover, $color-active, $fs-active, $fw-active){
    .nav-tabs {
        justify-content: center;
        align-items: center;
        border: none;
        .nav-item {
            .nav-link {
                width: 100%;
                border: none;
                @include styleText($color, $fs, $fw);
                &:hover {
                    font-size: $fs-hover;
                    transition: all 0.2s;
                }
                &.active {
                    @include styleText($color-active, $fs-active, $fw-active);
                    transition: all 0.2s;
                    background: transparent;
                }
            }
        }
    }
}
@mixin hoverButton($color-hover, $bg-color-hover, $border-hover, $bd-radius-hover) {
    color: $color-hover;
    background-color: $bg-color-hover;
    border: 1px solid $border-hover;
    cursor: pointer;
    border-radius: $bd-radius-hover;
}
@mixin dropDown($max-height) {
    max-height: $max-height;
    overflow-y: scroll;
    position: absolute;
}
@mixin buttonAge($bg-color, $color, $fs,$fw,$pd-y, $pd-x, $bd-radius){
    background: $bg-color;
    @include styleText($color,$fs ,$fw);
    padding: $pd-y $pd-x;
    border-radius: $bd-radius;
}
@mixin responsive($screen) {
    @if map-has-key($map: $breakpoints, $key: $screen) {
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "`{$screen`} don't exist in variable!";
    }
}
